<div class="jumbotron">
<h1 class="display-4" align="center"> Voici l'event: <%= @event.title %><br/> <%=  if @event.avatar.attached? ==true
   image_tag @event.avatar, width: 300, alt: 'avatar' end  %> </h1>
  <p class="lead"> <%= @event.description %> </p>
  <hr class="my-4">
  <p>Créateur : <%= @event.user.try(:email)%></p>
  <p>Lieu : <%= @event.location %></p>
  <p>Date : <%= @event.start_date %></p>
  <p>Prix : <%= @event.price %></p>
  <p>Valider ? :</p>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1">Oui</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline2">Non</label>
  </div>
  <br />
  <br />
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
<center>


</center>
