<div class="jumbotron">
<h1 class="display-4" align="center"> Voici l'event: <%= @event.title %><br/> <%=  if @event.avatar.attached? ==true
   image_tag @event.avatar, width: 300, alt: 'avatar' end  %> </h1>
  <p class="lead"> <%= @event.description %> </p>
  <hr class="my-4">
  <p>Créateur : <%= @event.user.try(:email)%></p>
  <p>Lieu : <%= @event.location %></p>
  <p>Date : <%= @event.start_date %></p>
  <p>Prix : <%= @event.price %></p>

  <div class="row" style="margin-top: 5vh">
    	<div class="col-6 text-right">
    		 <%= form_tag url_for(action: 'update'), method: "put" do %>
    		 <%= hidden_field_tag 'decision' , 'true' %>
    		 <%= submit_tag "Accept the event submission", :class => "btn btn-outline-success" %>
    		 <% end %>
    	</div>
    	<div class="col-6 text-left">
    		<%= form_tag url_for(action: 'update'), method: "put" do %>
    		 <%= hidden_field_tag 'decision' , 'false' %>
    		 <%= submit_tag "Refuse the event submission", :class => "btn btn-outline-danger" %>
    		 <% end %>
    	</div>
    </div>
</div>
