<div class="jumbotron">
  <h1 class="display-4">Voici l'event <%= @event.title %></h1>
  <p class="lead"> <%= @event.description %> </p>
  <hr class="my-4">
  <p>Créateur : <%= @event.user.try(:email)%></p>
  <p>Lieu : <%= @event.location %></p>
  <p>Date : <%= @event.start_date %></p>
  <p>Prix : <%= @event.price %></p>
  
  <a class="btn btn-primary btn-lg" href="#" role="button">Participer à l'évenement</a>
</div>
