

<div class="jumbotron">
  <h1 class="display-4">Mon profil :<br /><%= @user.first_name %> <%= @user.last_name %></h1>
  <%if @user.profile_pic.attached? == true%>
   <%= image_tag @user.profile_pic ,width: 300, alt:'profile_pic'%>
   <% else %>
   <p>=== Il n'y a pas encore de photo de profil liée à ton profil===</p>
   <% end %>

  <p class="lead"> <h4>Description :</h4><%= @user.description %></p>
  <hr class="my-4">
  <%= link_to "Modifier mon profil", edit_user_path, class:"btn btn-primary" %>
</div>
